* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* Header */
header {
  width: 100%;
  background: #1a1a1a;
  color: white;
  padding: 15px 10%;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: rgb(212, 212, 212);
}

header nav {
  float: right;
}

header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

/* Footer */
footer {
  background: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 60px;
}
